 html, body{
  background-color: yellow;
  width: 100vw;
  /* overflow-x: hidden; */
}

.todo-box{
  width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  /* font-size: 16px; */ 
}


.wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
 
}




.input-css , .date-css{
  font-size: 15px;
  padding: 6px;
  font-weight: bold;
}

.btn{
  padding: 15px;
  font-size: 15px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
}

.delete-btn{
  color: white;
  background-color: #e41d0f;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

.head{
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .delete-btn{
    font-size: 12px
  }
  .btn{
    font-size: 12px;
  }
  .input-css , .date-css{
    font-size: 12px;
  }
}






